@font-face {
  font-family: 'GothamRounded-Medium';
  src: local('GothamRounded-Medium'), url(./fonts/GothamRoundedMedium_21022.ttf) format('truetype');
}

@font-face{
  font-family: 'GothamRounded-Bold';
  src: local('GothamRounded-Bold'), url(./fonts/GothamRoundedBold_21016.ttf) format('truetype');
}

@font-face{
  font-family: 'GothamRounded-Book';
  src: local('GothamRounded-Book'), url(./fonts/GothamRounded-Book.otf) format('truetype');
}

body{
  font-family: GothamRounded-Medium;
  letter-spacing: 0.15em;
}